.container {
  display: grid;
  grid-template-columns: 5% 10% 61% 5%;
  grid-gap: 3%;
}

#header {
  grid-column-start: 2;
  grid-column-end: span 2;
}

#navigation {
  grid-column-start: 2;
}

#maincontent {
  grid-column-start: 3;
  display: grid;
  grid-template-columns: 70% 27%;
  grid-gap: 3%;
}

#primary {
  grid-column-start: 1;
}

#secondary {
  grid-column-start: 2;
}

#footer {
  grid-column-start: 2;
  grid-column-end: span 2;
}