.container {
  display: grid;
  grid-template-columns: 20% 80%
}

#header {
  grid-column-start: 1;
  grid-column-end : 3;

}

#navigation {
  grid-column-start: 1;
}

#maincontent {
  grid-column-start: 2;
}

#footer {
  grid-column-start: 1;
  grid-column-end : 3;
}